@charset "utf-8";

html {
    scroll-behavior: smooth;
    /* スクロールの止め位置 */
    scroll-padding-top: 50px
}

* {
    box-sizing: border-box;
    font-family: "Zen Maru Gothic", "Shippori Mincho";
    color: #fff;
}

.l_header {
    display: block;
    background-image: url(../img/main.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.l_header::after {
    content: "";
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(219,219,219,1) 80%);
    z-index: 200;
    width: 100%;
    height: 40%;
    position: absolute;
    bottom:-50px;
    left: 0;
}

h1 img {
    display: block;
    width: 100%;
    position: absolute;
    top: 45%;
}



 /* nav button */
 .c_navBtn{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    /* background-color: #fff;
    opacity: 0.5; */
    border-radius: 10px;
}

.c_navBtn__line,
.c_navBtn::before,
.c_navBtn::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 2px;
}

.c_navBtn::before {
    content: "";
    margin-top: -8px;
}

.c_navBtn::after {
    content: "";
    margin-top: 8px;
}

.is-nav-open .c_navBtn__line  {
    transform: scaleX(0);
}

.is-nav-open .c_navBtn::before {
    content: "";
    margin-top: 0;
    transform: translate(-50%,-50%) rotate(45deg);
    background-color: #808080;
}

.is-nav-open .c_navBtn::after {
    content: "";
    margin-top: 0;
    transform: translate(-50%,-50%) rotate(-45deg);
    background-color: #808080;
}


/* nav is-nav-open */
.l_header__nav {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 500;
    opacity: 0.9;
    overflow: hidden;
    transition: left 0.5s;
    

}

.is-nav-open .l_header__nav {
    left: 0;
}

.is-nav-open .l_header__nav ul {
    z-index: 800;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.is-nav-open .l_header__nav li {
    color: #5c5c5c;;
    font-size: 20px;
    padding: 10px;

}

.logoIcon{
    display: none;
}


@media screen and (min-width: 768px) {
    .c_navBtn{
        display: none;
    }

    h1 img {
        width: 60vw;
        top: 40%;
        right: 0;
    }

    .l_header__nav {
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
        width: 90%;
        margin: 0 auto;

    }

    .logoIcon {
        width: 12vw;
        min-width: 150px;
        height: auto;
        padding: 30px;
        z-index: 100;
    }

    .l_header__nav ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 16px;
        column-gap: 70px;
        z-index: 100;
    }

    .l_header__nav a:hover {
        border-bottom: 1px solid #fff;
    }

   
}


/* ------------------all--------- */

.main-container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-family: "Shippori Mincho";
    font-size: 32px;
    padding-bottom: 23px;
}

p {
    font-family: "Zen Maru Gothic";
    font-size: 16px;
    line-height: 1.5em;
}

section:nth-of-type(2) .main-container,
section:nth-of-type(4) .main-container {
    text-align: right;
}



@media screen and (min-width: 768px) {
    h2 {
        font-size: 56px;
    }

    p {
        font-size: 24px;
    }
}

section:first-of-type .main-container {
    padding: 250px 0px 70px;
}

.tool p {
    margin-bottom: 26px;
}

.tool img {
    width: 100%;
    margin-bottom: 50px;
}

section:nth-of-type(n+3) .main-container {
    padding: 60px 0px 80px;
}



.tool h2 {
    padding-top: 150px;
}


@media screen and (min-width: 768px) {
    section:first-of-type .main-container {
        padding: 400px 0px 70px;
    }

    section:nth-of-type(2) .main-container {
        display: flex;
        column-gap: 50px;
        justify-content: end;
        padding-bottom: 200px;
    }

    .soubi {
        max-width: 474px;

    }
}

/* ---------------backgroundcolor----- */

.first-contact {
    background: rgb(225, 225, 225);
    background: linear-gradient(180deg, rgba(225, 225, 225, 1) 0%, rgba(89, 123, 134, 1) 64%);
}

.tool {
    background-color: #436A74;
}

.food {
    background-color: #35545C;
}

.countermeasure {
    background-color: #214249;
}

/* ---------------backgroundimage----- */

.first-contact::after {
    content: "";
    background-image: url(../img/yama1.png);
    width: 100%;
    height: 32vw;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    right: 0;
    display: block;
}

.tool {
    position: relative;
}

.tool::after {
    content: "";
    background-image: url(../img/yama2.png);
    width: 100%;
    height: 32vw;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    right: 0;
    display: block;
    z-index: 10;
    position: absolute;
}

.food::after {
    content: "";
    background-image: url(../img/yama3.png);
    width: 100%;
    height: 32vw;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    right: 0;
    display: block;
    z-index: 10;
}

.countermeasure::after {
    content: "";
    background-image: url(../img/onsen.png);
    width: 100%;
    height: 32vw;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    right: 0;
    display: block;
    z-index: 10;
}


footer {
    text-align: center;
    margin: 0px auto;
    padding: 26px 0px 10px;
    background-color: #B8B9B9;
}


/* ---------------animation----- */
.fadeIn {
    transform: translate3d(0, -50px, 0);
    transition: 1s;
    opacity: 0;
}

.fadeIn.animated {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}