@charset "utf-8";

html {
    scroll-behavior: smooth;
    /* スクロールの止め位置 */
    scroll-padding-top: 50px
}

* {
    box-sizing: border-box;
    font-family: "Zen Maru Gothic", "Shippori Mincho";
    color: #fff;
}

.l_header {
    display: block;
    background-image: url(../img/main.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.l_header::after {
    content: "";
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(240, 240, 240, 0.3302113081560749) 14%, rgba(240, 240, 240, 0.9) 34%, rgba(240, 240, 240, 1) 46%, rgba(240, 240, 240, 0.9380544454109769) 61%, rgba(240, 240, 240, 0.4674662101168593) 78%, rgba(255, 255, 255, 0) 100%);
    z-index: 1000;
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: -180px;
    left: 0;
}

@media screen and (max-width: 768px) {
    .l_header::after {
        content: "";
        bottom: -150px;
    }
}

/* .l_header::before{
    content: "";
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(219, 219, 219, 1) 80%);
    z-index: 1000;
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: -350px;
    left: 0;
    transform: rotate(180deg);
} */

h1 img {
    display: block;
    width: 100%;
    position: absolute;
    top: 45%;
}



/* nav button */
.c_navBtn {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    /* background-color: #fff;
    opacity: 0.5; */
    border-radius: 10px;
}

.c_navBtn__line,
.c_navBtn::before,
.c_navBtn::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
}

.c_navBtn::before {
    content: "";
    margin-top: -8px;
}

.c_navBtn::after {
    content: "";
    margin-top: 8px;
}

.is-nav-open .c_navBtn__line {
    transform: scaleX(0);
}

.is-nav-open .c_navBtn::before {
    content: "";
    margin-top: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #808080;
}

.is-nav-open .c_navBtn::after {
    content: "";
    margin-top: 0;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: #808080;
}


/* nav is-nav-open */
.l_header__nav {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 1000;
    opacity: 0.9;
    overflow: hidden;
    transition: left 0.5s;


}

.is-nav-open .l_header__nav {
    left: 0;
}

.is-nav-open .l_header__nav ul {
    z-index: 1000;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.is-nav-open .l_header__nav li {
    color: #5c5c5c;
    ;
    font-size: 20px;
    padding: 10px;

}

.logoIcon {
    display: none;
}


@media screen and (min-width: 768px) {
    .c_navBtn {
        display: none;
    }

    h1 img {
        width: 60vw;
        top: 40%;
        right: 0;
    }

    .l_header__nav {
        left: 0;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 30px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        z-index: 1000;
        padding: 20px 50px;
    }

    .logoIcon {
        display: block;
        width: 5vw;
        min-width: 100px;
        height: auto;
        z-index: 100;

    }

    .l_header__nav ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 16px;
        column-gap: 70px;
        z-index: 1000;
    }

    .l_header__nav a:hover {
        border-bottom: 1px solid #fff;
    }


}


/* ------------------all--------- */

.main-container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-family: "Shippori Mincho";
    font-size: 32px;
    padding-bottom: 23px;
}

p {
    font-family: "Zen Maru Gothic";
    font-size: 16px;
    line-height: 1.5em;
}

section:nth-of-type(2) .main-container,
section:nth-of-type(4) .main-container {
    text-align: right;
}



@media screen and (min-width: 768px) {
    h2 {
        font-size: 56px;
    }

    p {
        font-size: 24px;
    }
}

section:first-of-type .main-container {
    padding: 250px 0px 70px;
}

.tool p {
    margin-bottom: 26px;
}

.tool img {
    width: 100%;
    margin-bottom: 50px;
}

section:nth-of-type(n+3) .main-container {
    padding: 60px 0px 80px;
}



.tool h2 {
    padding-top: 150px;
}


@media screen and (min-width: 768px) {
    section:first-of-type .main-container {
        padding: 400px 0px 70px;
    }

    section:nth-of-type(2) .main-container {
        display: flex;
        column-gap: 50px;
        justify-content: end;
        padding-bottom: 200px;
    }

    .soubi {
        max-width: 474px;

    }
}

/* ---------------backgroundcolor----- */

.first-contact {
    background: rgb(225, 225, 225);
    background: linear-gradient(180deg, rgba(225, 225, 225, 1) 0%, rgba(89, 123, 134, 1) 64%);
}

.tool {
    background-color: #436A74;
}

.food {
    background-color: #35545C;
}

.countermeasure {
    background-color: #214249;
    z-index: 200;
}

/* ---------------backgroundimage----- */

.first-contact::after {
    content: "";
    background-image: url(../img/yama1.png);
    width: 100%;
    height: 32vw;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    right: 0;
    display: block;
}

.tool {
    position: relative;
}

.tool::before {
    content: "";
    background-image: url(../img/raicho.png);
    width: 885px;
    height: 498px;
    top: -150px;
    right: 0;
    z-index: 200;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
}

@media screen and (min-width: 768px) {
    .tool::before {
        top: -350px;
        right: 35%;
    }
}

.tool::after {
    content: "";
    background-image: url(../img/yama2.png);
    width: 100%;
    height: 32vw;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    right: 0;
    display: block;
    z-index: 10;
    position: absolute;
}

.food::after {
    content: "";
    background-image: url(../img/yama3.png);
    width: 100%;
    height: 32vw;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    right: 0;
    display: block;
    z-index: 10;
}

.countermeasure::after {
    content: "";
    background-image: url(../img/onsen.png);
    width: 100%;
    height: 32vw;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    right: 0;
    display: block;
    z-index: 501;
    position: relative;
}


footer {
    text-align: center;
    margin: 0px auto;
    padding: 26px 0px 10px;
    background-color: #B8B9B9;
    position: relative;
    z-index: 500;
}


/* ---------------animation----- */
.left-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.left-footprint {
    right: 0;
    position: fixed;
    width: 80px;
    height: 80px;
    background-image: url('../img/left.png');
    /* 足跡の画像を使用 */
    background-size: cover;
    opacity: 0;
    animation: fade-in 0.5s ease-in-out forwards, fade-out 3s ease-out forwards;
    animation-delay: 0s, 0.5s;
    z-index: 10000;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.7;
    }
}

@keyframes fade-out {
    0% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}

.right-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.right-footprint {
    margin-top: 60px;
    right: 30px;
    position: fixed;
    width: 80px;
    height: 80px;
    background-image: url('../img/right.png');
    /* 足跡の画像を使用 */
    background-size: cover;
    opacity: 0;
    animation: fade-in 0.5s ease-in-out forwards, fade-out 3s ease-out forwards;
    animation-delay: 2s, 0.5s;
    z-index: 10000;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.7;
    }
}

@keyframes fade-out {
    0% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}

.fixed_bottom {
    background-image: url(../img/yama.png);
    width: 34%;
    height: 9vw;
    background-size: cover;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    z-index: 300;
}

.scroll_moving {
    background-image: url(../img/moving.png);
    width: 5%;
    height: 3vw;
    background-size: contain;
    position: fixed;
    background-repeat: no-repeat;
    bottom: 0;
    left: 34%;
    z-index: 300;
    transition: bottom 0.5s ease-out, left 0.5s ease-out;
    transform: rotate(0deg);
}

@media screen and (max-width: 768px) and (min-width: 481px) {

    .fixed_bottom {
        width: 62%;
        height: 12vh;
        bottom: 0;

    }

    .scroll_moving {
        width: 8%;
        height: 5vh;
        bottom: 0;
        left: 5%;
    }
}

@media screen and (max-width: 480px) {

    .fixed_bottom {
        width: 60%;
        height: 10vh;
        bottom: 0;

    }

    .scroll_moving {
        width: 8%;
        height: 5vh;
        bottom: 0;
        left: 5%;
    }
}

/* @keyframes moveCircle {
    0% {
        bottom:0;
        left: 33%;
    }
    
    12% {
        bottom:4.7%;
        left: 38%;
    }

    20% {
        bottom:5.3%;
        left: 41%;
    }

    36% {
        bottom:11%;
        left: 46%;
    }

    55% {
        bottom:13%;
        left: 53%;
    }
    100% {
        left: 66%;
        bottom: 0%;
    }
} */
